:root{
    --green: #00FF00;
    --white: #FFFFFF;
    --black: #000000;
}
body{
    font-family: helvetica;
    background: var(--bg);
    color: var(--fontColor);
}

ul{
    font-family: helvetica;
}

ol{
    font-family: helvetica;
    list-style:circle;
}

.className{
    list-style:lower-greek;
}

.neonTheme{
    --bg: var(--green);
    --fontColor: var(--black);

}

.lightTheme{
    --bg:var(--white);
    --fontColor:var(--black);
}

.darkTheme{
    --bg:var(--black);
    --fontColor:var(--green);
}
.btn-changeTheme{
    align-content:end;
    --bg:var(--green);
}